<div data-ng-controller="PostsController">
    <section>
        <div class="container">
    		<h1>New Post</h1>
    		<form class="form-signin" data-ng-submit="create()" novalidate>
    			<div>
    				<label for="title" class="sr-only">Title</label>
    				<div>
    					<input type="text" data-ng-model="title" id="title" placeholder="Title" required autofocus class="form-control">
    				</div>
    			</div>

    			<div>
    				<label for="comment" class="sr-only">Comment</label>
    				<div>
                        <div text-angular ng-model="htmlVariable"></div>
                        <textarea data-ng-model="htmlVariable" ta-bind="text" id="comment" cols="30" rows="10" placeholder="Comment" class="form-control" style="display:none;"></textarea>
    				</div>
    			</div>
    			<div>
    				<button type="submit" class="btn btn-lg btn-primary btn-block">Create POST</button>
    			</div>
    			<div data-ng-show="error">
    				<strong data-ng-bind="error"></strong>
    			</div>
    		</form>
    	</div>
    </section>
</div>