<div data-ng-controller="PostsController">
    <section>
        <div data-ng-init="findOne()" class="container">
    		<h1>Edit Post</h1>
    		<form data-ng-submit="update()" novalidate class="form-signin">
    			<div>
    				<label for="title" class="sr-only">Title</label>
    				<div>
    					<input type="text" data-ng-model="post.title" id="title" placeholder="Title" required autofocus class="form-control">
    				</div>
    			</div>

                <div>
                    <div text-angular ng-model="post.comment"></div>
                    <textarea data-ng-model="post.comment" id="comment" cols="30" rows="10" placeholder="Comment" class="form-control"></textarea>
                    <!-- <textarea data-ng-model="post.comment" ta-bind="text" id="comment" cols="30" rows="10" placeholder="Comment" class="form-control" style="display:none;"></textarea> -->
                </div>

    			<div>
    				<button type="submit" class="btn btn-lg btn-primary btn-block">Update POST</button>
    			</div>

    			<div data-ng-show="error">
    				<strong data-ng-bind="error"></strong>
    			</div>
    		</form>
    	</div>
    </section>
</div>