<div data-ng-controller="PostsController">
    <section class="main-content" data-ng-init="find()">
		<div class="container">
			<h1>Posts</h1>
			<ul>
				<li data-ng-repeat="post in posts" ng-if="showcompleted && post.completed || !post.completed">
					<a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title" ng-class="post.completed?'completed':''"></a>
					(<small data-ng-bind="post.created | date:'short'"></small>)
					<br>

					<small ng-bind-html="post.comment" class="comment"></small>
				</li>
			</ul>
			<div data-ng-hide="!posts || posts.length">
				No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
			</div>
		</div>
	</section>
</div>