<div data-ng-controller="PostsController">
    <section>
    	<div data-ng-init="findOne()" class="container col-md-8 col-md-offset-2">
    		<h1 data-ng-bind="post.title" ng-class="post.completed?'completed':''"></h1>
    		<div data-ng-show="authentication.user._id == post.creator._id">
    			<a href="/#!/posts/{{post._id}}/edit">edit</a>
    			<a href="#" data-ng-click="delete();">delete</a>
    		</div>
    		<small>
    		<em data-ng-bind="post.created | date:'mediumDate'"></em>
    		</small>
    		<p data-ng-bind-html="post.comment"></p>
    	</div>
    </section>
</div>