<nav class="navbar navbar-default navbar-custom">
<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-align">
                <li>
                    <a href="/#!/">Home</a>
                </li>
                <li class="dropdown" dropdown="">
                    <a href="#!/corners/selection" class="dropdown-toggle" data-toggle="dropdown">About
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#!/corners/general">General Info</a>
                        </li>
                        <li>
                            <a href="#!/corners/steph">Steph's Corner</a>
                        </li>
                        <li>
                            <a href="#!/corners/mat">Mat's Corner</a>
                        </li>
                        <li>
                            <a href="#!/corners/budge">Budge's Corner</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Recipes</a>
                </li>
                <li>
                    <a href="#!/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <img src="../img/logo.png">
</header>