<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nikola Brežnjak">

    <title>The Budge</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mean.css" rel="stylesheet">

    <link rel='stylesheet' href='/js/textAngular/dist/textAngular.css'>

    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body ng-app="mean">

  <% if (user) { %>
    <div ng-include src="'partials/admin-header.html'"></div>
  <% } else { %>
    <div ng-include src="'partials/header.html'"></div>
  <% } %>
  	<section ng-view class="main-section"></section>
  <div ng-include src="'partials/footer.html'"></div>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/mean.js"></script>

	<script type="text/javascript" src="/js/angular/angular.js"></script>
	<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

  <script type="text/javascript" src="/posts/posts.client.module.js"></script>
  <script type="text/javascript" src="/posts/controllers/posts.client.controller.js"></script>
  <script type="text/javascript" src="/posts/services/posts.client.service.js"></script>
  <script type="text/javascript" src="/posts/config/posts.client.routes.js"></script>

	<script type="text/javascript" src="/useri/users.client.module.js"></script>
	<script type="text/javascript" src="/useri/services/authentication.client.service.js"></script>

  <script type="text/javascript" src="/corners/corners.client.module.js"></script>
  <script type="text/javascript" src="/corners/controllers/corners.client.controller.js"></script>
  <script type="text/javascript" src="/corners/config/corners.client.routes.js"></script>

  <script type="text/javascript" src="/contact/contact.client.module.js"></script>
  <script type="text/javascript" src="/contact/controllers/contact.client.controller.js"></script>
  <script type="text/javascript" src="/contact/services/contact.client.service.js"></script>
  <script type="text/javascript" src="/contact/config/contact.client.routes.js"></script>

	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

  <script src='/js/textAngular/dist/textAngular-rangy.min.js'></script>
  <script src='/js/textAngular/dist/textAngular-sanitize.min.js'></script>
  <script src='/js/textAngular/dist/textAngular.min.js'></script>

  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>



	<script type="text/javascript" src="/application.js"></script>
</body>
</html>