<div ng-controller="ContactController as cf">
    <nav class="navbar navbar-custom navbar-center">
        <!-- <div class="container row"> -->
        <div class="container">
            <!-- <div class="navbar-align col-md-8 col-md-offset-2" > -->
            <div class="navbar-align" >
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#!/">Home</a>
                    </li>
                    <li class="dropdown" dropdown="">
                        <a href="#!/corners/selection" class="dropdown-toggle" data-toggle="dropdown">About
                        <!-- <a href="" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b> -->
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#!/corners/general">General Info</a>
                            </li>
                            <li>
                                <a href="#!/corners/steph">Steph's Corner</a>
                            </li>
                            <li>
                                <a href="#!/corners/mat">Mat's Corner</a>
                            </li>
                            <li>
                                <a href="#!/corners/budge">Budge's Corner</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="#!/">The Budge</a>
                    </li>
                    <li>
                        <a href="">Recipes</a>
                    </li>
                    <li>
                        <a href="#!/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <hr class="panels col-md-8 col-md-offset-2">
    </div>

    <section>
        <div class="vertical-middle">
            <div class="container contact-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Contact Form</h2>
                    </div>
                    <div class="panel-body">
                    <!-- <div ng-controller="ContactController" class="panel-body"> -->
                        <form data-ng-submit="cf.sendMail()" name="contactForm" class="form-horizontal" role="form">
                            <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                <label for="inputName" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <input ng-model="cf.contactName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <textarea ng-model="cf.contactMsg" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-warning" ng-disabled="submitButtonDisabled">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--     <section class="main-content" data-ng-show="!authentication.user" data-ng-init="find()">
        <div class="row">
            <ul class="panels col-md-6 col-md-offset-2">
                <li data-ng-repeat="post in posts" ng-if="showcompleted && post.completed || !post.completed">
                    <h3><a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title" ng-class="post.completed?'completed':''"></a></h3>
                    <em data-ng-bind="post.created | date:'mediumDate'"></em>
                    <br>

                    <small data-ng-bind-html="post.comment" class="comment"></small>
                    <hr>
                </li>
            </ul>
            <div class="about-us panels col-md-2">
                <h3>About Us</h3>
                <img class="col-md-12" src="../img/budge-profile-pic.jpg">
                <p>Mao mao mao mao mao.</p>
            </div>
            <div data-ng-hide="!posts || posts.length">
                No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
            </div>
        </div>
    </section>

    <section class="success" id="about" data-ng-show="authentication.user">
        <div class="container">
            <ul>
                <h1>
                    <li><a href="/#!/posts">List posts</a></li>
                </h1>

                <h1>
                    <li><a href="/#!/posts/create">Create post</a></li>
                </h1>
            </ul>
        </div>
    </section> -->

    <!-- About Section -->
<!--     <section class="success" id="about" data-ng-show="!authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Section 2</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-center">THe Budge is an application for managing your TODOs built on top of the awesome MEAN stack. The acompanying 4 part series blog posts on how to make this application can be found <a href="#">here</a>.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/Hitman666/MEAN_MVC_4thTutorial" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Fork it on Github
                    </a>
                </div>
            </div>
        </div>
    </section> -->
</div>