<div ng-controller="CornersController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>About Me</h4>
            <p>Hi, my name is Budge. I am a young budgerigar born at the end of 2015. I was adopted by Mat and Steph a few days after New Year's because I was so dang adorable. If you haven't noticed, this site has been themed after me because I always crave attention even when Mat and Steph just want to eat in peace.</p>
            <p> Things I like to do? Gnaw on everything! My bell? Gnaw on it. Your finger? Gnaw on it. Your ears? Gnaw on it. You get the picture. In my free time I like to be a spider-bird and climb all over my cage whether it's sideways, upside down, or any new contortion I can discover. I also enjoy ringing my bell at all times of day.<p>
            <p> Millet is my favorite treat and I can be bribed to do anything for it. If you bring me out to play, you better have some of that millet ready. Mmmmm.</p>
            <p>   </p>
            <img src="../../img/budge1.jpg">
            <p>   </p>
            <img src="../../img/budge3.jpg">
            <p>   </p>
            <img src="../../img/budge4.jpg">
        </div>
    </div>
</div>