<div ng-controller="CornersController">
mat

<!--     <section class="main-content" data-ng-show="!authentication.user" data-ng-init="find()">
        <div class="row">
            <div class="col-md-2"></div>
            <ul class="panels col-md-6">
                <li data-ng-repeat="post in posts" ng-if="showcompleted && post.completed || !post.completed">
                    <h3><a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title" ng-class="post.completed?'completed':''"></a></h3>
                    <em data-ng-bind="post.created | date:'mediumDate'"></em>
                    <br>

                    <small data-ng-bind-html="post.comment" class="comment"></small>
                    <hr>
                </li>
            </ul>
            <div class="about-us panels col-md-2">
                <h3>About Us</h3>
                <img class="col-md-12" src="../img/budge-profile-pic.jpg">
                <p>Mao mao mao mao mao.</p>
            </div>
            <div class="col-md-2"></div>
            <div data-ng-hide="!posts || posts.length">
                No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
            </div>
        </div>
    </section> -->
</div>