<div ng-controller="CornersController">
    <div class="col-md-8 col-md-offset-2">
        <h4>About Me</h4>
        <p>Hi all, I am Mat and this is my corner. I've been meaning to write a food blog for a while but have never had the time. But finally with a reason for a first post, here I am. Woo hoo!</p>

        <h4>Cooking</h4>

        <p>To give a little about myself, I didn't have much interest in food till college. Being sheltered whether it be my parents' cooking or the creativeness of the collegiate dining halls, I only started cooking because I had to when I moved off campus my junior year. That summer, I learned so much. I remember my first fried rice blew my mind. I even started to keep a journal of my food recipe success and epic failures. I wanted to find the best recipes for everything!</p>

        <p>That enlightened journal has long been lost as I've moved multiple places since then. But even with that paper record long gone, I hope this blog can keep some of the knowledge I've gained in one place. And with that, I welcome you to the SBM Food Blog!</p>

        <h4>Development</h4>

        <p>For those techies who have read this far, this blog is written using the MEAN stack using all JavaScript! I have so far enjoyed my experience with AngularJS but this site was mainly to explore the potential of Node alongside MongoDB. And at this point, I love them both.</p>

        <h4>And More!</h4>

        <p>Alrighty, I feel this section is already getting pretty longwinded so it's time to wrap this up. Other hobbies I enjoy are snowboarding, breaking, gaming/esports, running, and long walks on the beach... oh wait... Anywho, if you like what you see on this blog, feel free to shoot me an email through the contact form or manually at sbm.food.blog@gmail.com. Peace.</p>
    </div>

<!--     <section class="main-content" data-ng-show="!authentication.user" data-ng-init="find()">
        <div class="row">
            <div class="col-md-2"></div>
            <ul class="panels col-md-6">
                <li data-ng-repeat="post in posts" ng-if="showcompleted && post.completed || !post.completed">
                    <h3><a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title" ng-class="post.completed?'completed':''"></a></h3>
                    <em data-ng-bind="post.created | date:'mediumDate'"></em>
                    <br>

                    <small data-ng-bind-html="post.comment" class="comment"></small>
                    <hr>
                </li>
            </ul>
            <div class="about-us panels col-md-2">
                <h3>About Us</h3>
                <img class="col-md-12" src="../img/budge-profile-pic.jpg">
                <p>Mao mao mao mao mao.</p>
            </div>
            <div class="col-md-2"></div>
            <div data-ng-hide="!posts || posts.length">
                No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
            </div>
        </div>
    </section> -->
</div>