<div ng-controller="CornersController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>About Me</h4>
            <p>Hi all, I'm Steph and this is my corner. I had a food blog back in college that documented my food adventures, whether it was going out to restaurants or cooking in my apartment. It was a lot of fun to have guest posts by some dear friends of mine too. It has long been untouched so I'm excited to start anew and breathe life into this one with Mat!</p>

            <h4>Cooking</h4>

            <p>Growing up in a traditional Chinese household, I was very fortunate to have eaten all sorts of delicious Chinese food prepared by my parents. I developed a fondness of the different spices and sauces used in this cuisine but as I started cooking in college and those ingredients were not as easy to come by, I've cooked mostly American food. My mom has influenced my cooking with her passion for healthy cooking and experimentation with different recipes. As of late, I've leaned towards the unhealthy end of the spectrum (I've got a terrible sweet tooth! And don't get me started on deep fried food...)</p>

            <p>As a previously traveling IT consultant, my opportunities to cook were limited to the weekend. During the week, it meant eating out at restaurants and this change in taste caused me to seek out equally processed foods over the weekend. Now that I'll be working locally, my goal is to go back to preparing simple and healthy meals.</p>

            <h4>And More!</h4>

            <p>I've been described as "bright-eyed and bushy-tailed" haha. I currently have an unhealthy obsession with deep dish pizza. I got TiVo recently and haven't watched this much TV since middle school; I love watching Top Chef and Shark Tank but my guilty pleasure is Say Yes to the Dress. If you guys have any comments, feel free to shoot us an email through the contact form or directly at sbm.food.blog@gmail.com. Cheers and thanks for stopping by!</p>
        </div>
    </div>
</div>