<div ng-controller="CornersController">
    <nav class="navbar navbar-custom navbar-center">
        <div class="container">
            <div class="navbar-align" >
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#!/">Home</a>
                    </li>
                    <li class="dropdown" dropdown="">
                        <a href="#!/corners/selection" class="dropdown-toggle" data-toggle="dropdown">About
                        <!-- <a href="" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b> -->
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#!/corners/general">General Info</a>
                            </li>
                            <li>
                                <a href="#!/corners/steph">Steph's Corner</a>
                            </li>
                            <li>
                                <a href="#!/corners/mat">Mat's Corner</a>
                            </li>
                            <li>
                                <a href="#!/corners/budge">Budge's Corner</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="#!/">The Budge</a>
                    </li>
                    <li>
                        <a href="">Recipes</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-2"></div>
        <hr class="panels col-md-8">
    </div>

steph

<!--     <section class="main-content" data-ng-show="!authentication.user" data-ng-init="find()">
        <div class="row">
            <div class="col-md-2"></div>
            <ul class="panels col-md-6">
                <li data-ng-repeat="post in posts" ng-if="showcompleted && post.completed || !post.completed">
                    <h3><a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title" ng-class="post.completed?'completed':''"></a></h3>
                    <em data-ng-bind="post.created | date:'mediumDate'"></em>
                    <br>

                    <small data-ng-bind-html="post.comment" class="comment"></small>
                    <hr>
                </li>
            </ul>
            <div class="about-us panels col-md-2">
                <h3>About Us</h3>
                <img class="col-md-12" src="../img/budge-profile-pic.jpg">
                <p>Mao mao mao mao mao.</p>
            </div>
            <div class="col-md-2"></div>
            <div data-ng-hide="!posts || posts.length">
                No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
            </div>
        </div>
    </section> -->
</div>